= render 'layouts/header'
/ Content Area
.content-area.bg-light-blue.page19.full-vh
  .bg-top
  .container
    .row
      .col-12
        .content-inner
          %h5.white
            - if @stripe_account.present?
              - if @stripe_account.details_submitted
                Vos informations de paiement sont validées
              - else
                Veuillez compléter vos informations de paiement.
            - else
              Veuillez compléter vos informations de paiement.
            %br
          %p.white Ces informations sont nécessaires pour percevoir vos paiements.
          %br

          = simple_form_for [:dashboard, @payment_info], html: { class: 'my-form' } do |f|
            %input#token-account{:name => "token-account", :type => "hidden"}/
            %input#token-person{:name => "token-person", :type => "hidden"}/
            %fieldset
              -# = f.input :first_name, input_html: { value: current_user.first_name }
              -# = f.input :last_name, input_html: { value: current_user.last_name }
            %fieldset
              = f.input :iban, placeholder: 'ex: FR7630001007941234567890185', required: true
            - if @stripe_account.present? && @stripe_account.details_submitted
              = f.button :submit, "Modifier →", class: 'custom-btn validate blue-bg fontbold', disabled: true
            - else
              = f.button :submit, "Suivant →", class: 'custom-btn validate blue-bg fontbold', disabled: true
              %br
              %br
              .text-center.full-width
                = link_to dashboard_root_path do
                  %u
                    %b Remplir plus tard
