/ Banner
.banner-area
  .container
    .row
      %h1.fontlight
        PROGRAMME
        = succeed "FESSES" do
          %br/
/ Banner
/ Content Area
.content-area.bg-dark-blue.mvh-70.page12
  .container
    .row
      .col-12
        .content-inner
          .pack-top.mb-30.fontlight
            %p.iblue
              8 semaines
              %span.white
                %br>/
                3 séances/semaine
            %p.text-right
              %b €60,00
          .pack-profile-box.mb-30
            .pack-profile-img
              = image_tag "farid.png", alt:"Farid"
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          = simple_form_for [:dashboard, @program] do |f|
            = f.hidden_field :published, value: 'true'
            %button.margin-auto.validate.site-btn.fontbold.blue-bg{:ref => "#", :type => "submit"}
              Valider #{image_tag "tik.png", alt:""}
          -# Prochaine étape = pouvoir lui ajouter des exercices
/ Content Area
