<% if params[:step].blank? %>
<%= render 'layouts/header' %>
<div class="content-area bg-dark-blue2 page27">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="object-content">
                    <%= simple_form_for [:dashboard, @program] do |f| %>
                      <%= f.hidden_field :next_step, value: 'price' %>
                      <p class="fontlight">Durée</p>
                      <h3 class="fontlight">
                        <%= f.input_field :duration,  class: 'fontlight big-transparent-input', autofocus: true, required: true, placeholder: '0' %>
                        <sub>Semaines</sub></h3>
                      <p class="fontlight mt-25">Fréquence</p>
                      <h3 class="fontlight">
                        <%= f.input_field :frequency,  class: 'fontlight big-transparent-input', autofocus: true, required: true, placeholder: '0' %>
                        <sub>Séances/semaine</sub>
                      </h3>
                      <h5 class="fontlight">
                          Tu pourras modifier et adapter ton
                          programme pendant sa durée en fonction
                          de l’évolution de ton athlète.
                      </h5>
                      <button type="submit" value="Suivant →" ref="#" class="validate g-blue-bg fontbold">Suivant →</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<% elsif params[:step] == 'rest_note' %>
<!--Header-->
    <header class="header-area blue-light-bg page21">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#">
                            <span class="left-angle"></span>
                        </a>
                        <h1 class="font-sm"><img src="images/i.png" alt="">Note de repos</h1>
                        <a href="#" id="submit-form">
                            OK
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--Header-->
<!--Content Area-->
    <div class="content-area bg-dark-blue page21">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="object-content">
                        <%= simple_form_for [:dashboard, @program] do |f| %>
                          <%= f.hidden_field :next_step, value: 'back' %>
                          <%= f.input_field :rest_note, class: 'fontlight big-transparent-textarea', autofocus: true, placeholder: 'Commence à écrire ta note' %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Content Area-->
<% elsif params[:step] == 'info_note' %>
<!--Header-->
    <header class="header-area blue-dark-bg page21">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#">
                            <span class="left-angle"></span>
                        </a>
                        <h1 class="font-sm"><img src="images/i.png" alt="">Note d’information</h1>
                        <a href="#" id="submit-form">
                            OK
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--Header-->
<!--Content Area-->
    <div class="content-area bg-dark-blue page21">
        <div class="container">
            <div class="row">
                <div class="col-12">
                  <div class="object-content">
                      <%= simple_form_for [:dashboard, @program] do |f| %>
                        <%= f.hidden_field :next_step, value: 'back' %>
                        <%= f.input_field :info_note, autofocus: true, class: 'fontlight big-transparent-textarea', placeholder: 'Commence à écrire ta note' %>
                      <% end %>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!--Content Area-->
<% elsif params[:step] == 'price' %>
<%= render 'layouts/header' %>

<div class="content-area bg-dark-blue2 full-vh">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="object-content">
                    <p class="fontlight">Prix du programme</p>
                    <%= simple_form_for [:dashboard, @program] do |f| %>
                      <%= f.hidden_field :next_step, value: 'cover' %>
                        <h3 class="white fontlight"><span>€</span><%= f.input_field :price,  class: 'fontlight big-transparent-input', autofocus: true, required: true, placeholder: '50' %></h3>
                        <button type="submit" value="Suivant →" ref="#" class="validate g-blue-bg fontbold">Suivant →</button>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
</div>
<% elsif params[:step] == 'cover' %>
<%= render 'layouts/header' %>

<!--Content Area-->
    <div class="content-area bg-dark-blue2 full-vh page10">
      <%= simple_form_for [:dashboard, @program] do |f| %>
        <%= f.hidden_field :next_step, value: 'summary' %>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="object-content">
                        <p class="fontlight">Choisis une bannière</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="object-content">
            <div class="prev-img">
              <label class="display-block">
                <%= image_tag @program.cover_url, id: 'preview', alt:"", class: 'banner-upload' %>
                <%= f.input_field :cover, style: 'opacity: 0', onchange: "readURL(this);" %>

              </label>


            </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="object-content">
                    <div class="touch">
                        <%= image_tag "touch.png", alt:"" %>
                        <p class="fontlight">Touche pour importer une image</p>
                    </div>
                    <button type="submit" value="Suivant →" ref="#" class="validate g-blue-bg fontbold">Suivant →</button>

                </div>
            </div>
        </div>
    </div>
    <% end %>
  </div>
    <!--Content Area-->
<% elsif params[:step] == 'summary' %>
<%= render 'layouts/header' %>

<!--Banner-->
    <div class="banner-area">
        <div class="container">
            <div class="row">
                <h1 class="fontlight">PROGRAMME <br>FESSES BÉTONS</h1>
            </div>
        </div>
    </div>
    <!--Banner-->


    <!--Content Area-->
    <div class="content-area bg-dark-blue mvh-70 page12">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content-inner">

                        <div class="pack-top mb-30 fontlight">
                            <p class="iblue">8 semaines<span class="white"><br>3 séances/semaine</span></p>
                            <p class="text-right"><b>€60,00</b></p>
                        </div>

                        <div class="pack-profile-box mb-30">
                            <div class="pack-profile-img">
                                <%= image_tag "farid.png", alt:"Farid" %>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
                        </div>

                        <%= simple_form_for [:dashboard, @program] do |f| %>
                            <%= f.hidden_field :published, value: 'true' %>
                            <button type="submit" ref="#" class="margin-auto validate site-btn fontbold blue-bg">Valider <%= image_tag "tik.png", alt:"" %></button>
                        <% end %>
                        Prochaine étape = pouvoir lui ajouter des exercices
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Content Area-->
<% end %>
