%body
  - if params[:step] == 'duration'
    = render 'layouts/header'
    .content-area.bg-dark-blue2.page27
      .container
        .row
          .col-12
            .object-content
              = simple_form_for [:dashboard, @program] do |f|
                = f.hidden_field :next_step, value: 'price'
                %p.fontlight Durée
                %h3.fontlight
                  = f.input_field :duration,  class: 'fontlight big-transparent-input', required: true, placeholder: '0'
                  %sub Semaines
                %br
                %br
                %br
                %p.fontlight.mt-25 Fréquence
                %h3.fontlight
                  = f.input_field :frequency,  class: 'fontlight big-transparent-input', required: true, placeholder: '0'
                  %sub Séances/semaine
                %h5.fontlight
                  Tu pourras modifier et adapter ton
                  programme pendant sa durée en fonction
                  de l’évolution de ton athlète.
                %button.validate.g-blue-bg.fontbold{:ref => "#", :type => "submit", :value => "Suivant →"} Suivant →
  - elsif params[:step].blank?
    = render 'layouts/header'
    .content-area.bg-dark-blue2.page27
      .container
        .row
          .col-12
            .object-content
              %p.fontlight Nom du programme
              = simple_form_for [:dashboard, @program] do |f|
                = f.input_field :user_has_client_id, as: :hidden, value: params[:user_has_client_id]
                %input.form-control{:name => "program[name]", :placeholder => "Exemple : découverte", :type => "text", value: @program.name}/
                - if @program.file.present?
                  %label.display-block.text-center
                    %br
                    %u
                      %b= link_to 'Clique ici pour afficher le PDF actuel', @program.file_url, target: '_blank', style: 'color: #03B3BB;'
                    %br
                    %br
                    %br
                    = f.input_field :file, style: 'opacity: 1', onchange: "readURL(this);"
                    = f.hidden_field :next_step, value: 'duration'
                    %br
                    %br
                    .touch
                      = image_tag "touch.png", alt:"", class: 'banner-upload'
                      %p.fontlight Clique ici pour uploader et remplacer ton programme
                %button.validate.g-blue-bg.fontbold.lg-btn{:ref => "#", :type => "submit", :value => "Suivant →"} Suivant →
  - elsif params[:step] == 'rest_note'
    / Header
    %header.header-area.blue-light-bg.page21
      .container
        .row
          .col-12
            .d-flex.justify-content-between.align-items-center
              %a{:href => "#"}
                %span.left-angle
              %h1.font-sm
                %img{:alt => "", :src => "images/i.png"}>/
                Note de repos
              %a#submit-form{:href => "#"}
                OK
    / Header
    / Content Area
    .content-area.bg-dark-blue.page21
      .container
        .row
          .col-12
            .object-content
              = simple_form_for [:dashboard, @program] do |f|
                = f.input_field :rest_note, class: 'fontlight big-transparent-textarea', placeholder: 'Commence à écrire ta note'
    / Content Area
  - elsif params[:step] == 'info_note'
    / Header
    %header.header-area.blue-dark-bg.page21
      .container
        .row
          .col-12
            .d-flex.justify-content-between.align-items-center
              %a{:href => "#"}
                %span.left-angle
              %h1.font-sm
                %img{:alt => "", :src => "images/i.png"}>/
                Note d’information
              %a#submit-form{:href => "#"}
                OK
    / Header
    / Content Area
    .content-area.bg-dark-blue.page21
      .container
        .row
          .col-12
            .object-content
              = simple_form_for [:dashboard, @program] do |f|
                = f.input_field :info_note, class: 'fontlight big-transparent-textarea', placeholder: 'Commence à écrire ta note'
    / Content Area
  - elsif params[:step] == 'price'
    = render 'layouts/header'
    .content-area.bg-dark-blue2.full-vh
      .container
        .row
          .col-12
            .object-content
              %p.fontlight Prix du programme
              = simple_form_for [:dashboard, @program] do |f|
                = f.hidden_field :next_step, value: 'cover'
                %h3.white.fontlight
                  %span €
                  = f.input_field :price,  class: 'fontlight big-transparent-input', required: true, placeholder: '50'
                %button.validate.g-blue-bg.fontbold{:ref => "#", :type => "submit", :value => "Suivant →"} Suivant →
  - elsif params[:step] == 'cover'
    = render 'layouts/header'
    / Content Area
    .content-area.bg-dark-blue2.full-vh.page10
      = simple_form_for [:dashboard, @program] do |f|
        = f.hidden_field :next_step, value: 'summary'
        .container
          .row
            .col-12
              .object-content
                %p.fontlight Choisis une bannière
        .object-content
          .prev-img
            %label.display-block
              = image_tag @program.cover_url, id: 'preview', alt:"", class: 'banner-upload'
              = f.input_field :cover, style: 'opacity: 0', onchange: "readURL(this);"
        .container
          .row
            .col-12
              .object-content
                .touch
                  = image_tag "touch.png", alt:""
                  %p.fontlight Touche pour importer une image
                %button.validate.g-blue-bg.fontbold{:ref => "#", :type => "submit", :value => "Suivant →"} Suivant →
    / Content Area
  - elsif params[:step] == 'summary'
    = render 'layouts/header'
    = render 'summary'
