= render 'layouts/header'
/ Content Area
.content-area.bg-light-blue.page13.full-vh
  .bg-top
  .container
    .row
      .col-12
        .content-inner
          - @programs.each do |program|
            .profile-card.program-card.card1{:style => "background-image: url(#{program.cover_url})"}
              .left
                %h3.fontlight= program.name
                %p.fontlight.iblue
                  = program.duration
                  semaines
                %p.fontlight.white
                  = program.frequency
                  séances/semaine

              .right
                %h3.fontlight= number_to_currency(program.price)
                %a.rightarrow.white{:href => "#{edit_dashboard_program_path(program)}"}

            .full-width.text-right
              = link_to edit_dashboard_program_path(program) do
                Modifier
              |
              = link_to dashboard_program_path(program), method: :delete, data: { confirm: "Es-tu sûr de vouloir supprimer le Programme #{program.name} ?" } do
                Supprimer
.fixed-element
  %p.fontlight Créer un nouveau programme
  %a.circle-btn{:href => new_dashboard_program_path} +
/ Content Area
