<%= render 'layouts/header' %>
<% if params[:pack_type].blank? %>
<!--Content Area-->
    <div class="content-area bg-dark-blue2 full-vh">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="object-content text-center">
                        <p class="fontlight">Type de pack</p>
                        <br>
                        <br>
                        <%= link_to 'Pack solo', url_for(pack_type: 'solo'), class: "border-btn" %>
                        <br>
                        <%= link_to 'Pack duo', url_for(pack_type: 'duo'), class: "border-btn" %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Content Area-->
<% else %>
<!--Content Area-->
    <div class="content-area bg-dark-blue2 full-vh">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="object-content">
                        <p class="fontlight">Nom du pack</p>
                        <%= simple_form_for [:dashboard, @pack] do |f| %>
                            <%= f.input_field :pack_type, as: :hidden, value: params[:pack_type] %>
                            <input type="text" name="pack[name]" class="form-control" placeholder="Exemple : découverte">
                            <button type="submit" value="Suivant →" ref="#" class="validate g-blue-bg fontbold">Suivant →</button>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Content Area-->
<% end %>
