<%= render 'layouts/header' %>
<!--Content Area-->
<div class="content-area bg-light-blue page19 full-vh">
  <div class="bg-top"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-inner">
          <% prev_exercise_category_id = '' %>
          <% @program_steps.each do |step| %>
          <% if step.exercise_category_id != prev_exercise_category_id %>
          <h2 class="subtitle pl-15 font-sm fontlight"><%= step.exercise_category.name %></h2>
          <% end %>
          <% prev_exercise_category_id = step.exercise_category_id %>
          <div class="input-box grey-bg white">
            <h2 class="subtitle font-sm fontbold mb-15"><strong><%= step.exercise.name %></strong></h2>
            <div class="list">
              <div class="list-item">
                <p>Series <span class="text-right"><%= step.round %></span></p>
                <p>Reps <span class="text-right"><%= step.repetition %></span></p>
                <p>Charge <span class="text-right"><%= step.charge %></span></p>
                <p>Cadence
                  <span class="text-right"><%= step.cadence %></span></p>
                </div>
                <a href="#" class="abolute-play-btn">
                  <%= image_tag "play.png", alt:"" %>
                </a>
              </div>
            </div>
            <br>
            <% end %>
            <div class="pacto-content">
              <div class="blue-bg"><%= image_tag "clock.png", alt:"" %> <%= @program.rest_note %></div>
              <div class="blue-dark-bg"><%= image_tag "info.png", alt:"" %> <%= @program.info_note %></div>
          </div>
            <div class="fixed-element-margin"></div>
            <div class="fixed-element fixed">
              <a href="<%= dashboard_program_step_index_path(@program) %>" class="circle-btn">+</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Content Area-->
