.bg-dark-blue.full-height
  .container
    .row
      .col-12.col-md-6.offset-md-3.col-lg-6.offset-lg-3
        - if current_lead.user.present?
          .row

            .col-md-6.offset-md-3.col-6.offset-3.text-center
              %br
              .profile-img.big-profile-img.display-inline-block
                = image_tag current_lead.user.avatar_url
            .col-md-12
              %br
              %h3 Faisons connaissance
              %p Ce compte va me permettre de suivre ton évolution, et de te fournir un meilleur accompagnement.
              %br
        - else
          = render 'layouts/header'
          %h3 Créer mon compte


        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = f.error_notification
          .form-inputs
            .row
              = f.input_field :user_id, as: :hidden, value: cookies[:last_user_visited_id]
              = f.input_field :lead_id, as: :hidden, value: current_lead.id
            -#   .col-md-6
            -#
            -#     = f.input :first_name, required: true, input_html: { autocomplete: "first_name" }
            -#   .col-md-6
            -#     = f.input :last_name, required: true, input_html: { autocomplete: "last_name" }
            -# %br
            = f.input :email, required: true, input_html: { autocomplete: "email" }
            .row
              .col-md-6
                = f.input :password, required: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" }
              .col-md-6
                = f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" }

          .form-actions
            %br
            = f.button :submit, "Créer mon compte", class: 'custom-btn blue-bg'
        = render "users/shared/links"
