/ Banner
.banner-area{style: "background-image: url(#{@program.cover_url})"}
  .container
    .row
      %h1.fontlight
        PROGRAMME
        %br
        = @program.name
/ Banner
/ Content Area
.content-area.bg-dark-blue.mvh-70.page12
  .container
    .row
      .col-12
        .content-inner
          .pack-top.mb-30.fontlight
            %p.iblue
              #{@program.duration} semaines
              %span.white
                %br>/
                #{@program.frequency} séances/semaine
            %p.text-right
              %b #{number_to_currency(@program.price)}
          .pack-profile-box.mb-30
            .pack-profile-img
              = image_tag @program.user.avatar_url
            %p=simple_format(@program.description)
          = simple_form_for [:interface, @order] do |f|
            = simple_fields_for :order_has_item do |ff|
              = ff.input_field :item_id, as: :hidden, value: @program.id
              = ff.input_field :item_type, as: :hidden, value: @program.class.name
            = f.input_field :user_id, as: :hidden, value: @program.user_id
            %button.margin-auto.validate.site-btn.fontbold.blue-bg{:ref => "#", :style => "width: inherit;", :type => "submit"}
              Commander #{image_tag "tik.png", alt:""}
