<%= render 'layouts/header' %>
<!--Content Area-->
<div class="content-area bg-light-blue page13">
  <div class="bg-top"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-inner page14">
          <% @ratings.each do |rating| %>
            <div class="about-box">
              <div class="about-img">
                <%= image_tag rating.client.avatar_url, alt: "about"%>
              </div>
              <div class="about-content">
                <h3 class="about-title">
                  <%= rating.client.nickname %>
                  <span>⭐️<%= rating.score %></span>
                </h3>
                <p><%= rating.comment %></p>
              </div>
            </div>
          <% end %>


        </div>
      </div>
    </div>
  </div>
</div>
<!--Content Area-->
