= render 'header'
/ Content Area
- if params[:section].blank? || params[:section] == 'packs' # coachings
  .content-area.bg-light-blue
    .bg-top
    .container
      .row
        .col-12
          #packs.content-inner
            .panel.panel-default
              %ul.nav.nav-tabs.circle-tab.profile.mb-30
                %li
                  %a.active{"data-toggle" => "tab", :href => "#solo"} solo
                %li
                  %a{"data-toggle" => "tab", :href => "#duo"} duo
              .panel-body
                .tab-content
                  #solo.tab-pane.active
                    - @user.packs.solo.published.each_with_index do |pack, index|
                      - card_index = index == 0 ? '1' : '2'
                      %a{:class => "profile-card card#{card_index}", :href => "#{pack_path(pack)}"}
                        .left
                          %h3.fontlight
                            PACK
                            %br/
                            = pack.name
                          %p.fontlight
                            = pack.nb_of_courses
                            séances
                        .right
                          %h3.fontlight
                            - if pack.unit_price.to_i == 0
                              %b Gratuit
                            - elsif pack.hide_payment_page
                              En savoir plus
                            - else
                              = number_to_currency(pack.unit_price)
                              = succeed "La séance" do
                                %br/
                          %span.rightarrow
                  #duo.tab-pane
                    - @user.packs.duo.published.each_with_index do |pack, index|
                      - card_index = index == 0 ? '2' : '1'
                      %a{:class => "profile-card card#{card_index}", :href => "#{pack_path(pack)}"}
                        .left
                          %h3.fontlight
                            PACK
                            %br/
                            = pack.name
                          %p.fontlight
                            = pack.nb_of_courses
                            séances
                        .right
                          %h3.fontlight
                            - if pack.unit_price.to_i == 0
                              %b Gratuit
                            - elsif pack.hide_payment_page
                              En savoir plus
                            - else
                              = number_to_currency(pack.unit_price)
                              = succeed "La séance" do
                                %br/
                          %span.rightarrow
  / Content Area
- elsif params[:section] == 'programs'
  .content-area.bg-light-blue.page13.full-vh
    .bg-top
    .container
      .row
        .col-12
          .content-inner
            - @user.programs.published.each do |program|
              %a.profile-card.program-card.card1{:style => "background-image: url(#{program.cover_url})", :href => "#{program_path(program)}"}
                .left
                  %h3.fontlight= program.name
                  %p.fontlight.iblue
                    = program.duration
                    semaines
                  %p.fontlight.white
                    = program.frequency
                    séances/semaine
                .right
                  - if program.hide_payment_page
                    %h3 En savoir plus
                    %span.rightarrow.white
                  - else
                    %h3.fontlight= number_to_currency(program.price)
                    %span.rightarrow.white
- elsif params[:section] == 'suivis'
  .content-area.bg-light-blue.page13.full-vh
    .bg-top
    .container
      .row
        .col-12
          .content-inner
            - @user.online_offers.published.each do |online_offer|
              %a.profile-card.online_offer-card.card1{:style => "background-image: url(#{online_offer.cover_url})", :href => "#{online_offer_path(online_offer)}"}
                .left
                  %h3.fontlight= online_offer.name
                .right
                  - if online_offer.hide_payment_page
                    %h3 En savoir plus
                    %span.rightarrow.white
                  - else
                    %h3.fontlight= number_to_currency(online_offer.price)
                    %span.rightarrow.white
- elsif params[:section] == 'ratings'
  .content-area.bg-light-blue.page13
    .bg-top
    .container
      .row
        .col-12
          .content-inner.page14
            - @user.ratings.published.each do |rating|
              .about-box
                .about-img
                  = image_tag rating.client.avatar_url, alt: "about"
                .about-content
                  %h3.about-title
                    = rating.client.nickname
                    %span
                      ⭐️#{rating.score}
                  %p= rating.comment
