<%= render 'header' %>
<!--Content Area-->
<% if params[:section].blank? %>

  <div class="content-area bg-light-blue">
    <div class="bg-top"></div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="packs" class="content-inner">
            <div class="panel panel-default">
              <ul class="nav nav-tabs circle-tab profile mb-30">
                <li>
                  <a href="#solo" data-toggle="tab" class="active">solo</a>
                </li>
                <li>
                  <a href="#duo" data-toggle="tab">duo</a>
                </li>
              </ul>
              <div class="panel-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="solo">
                    <% @user.packs.solo.each_with_index do |pack, index| %>
                    <% card_index = index == 0 ? '1' : '2' %>
                    <div class="profile-card card<%= card_index %>">
                      <div class="left">
                        <h3 class="fontlight">PACK <br><%= pack.name %></h3>
                        <p class="fontlight"><%= pack.nb_of_courses %> séances</p>
                      </div>
                      <div class="right">
                        <h3 class="fontlight">
                          <%= number_to_currency(pack.unit_price) %>
                          <br>La séance
                        </h3>
                        <a href="#lienverslapagedepresentationdupack" class="rightarrow"></a>
                      </div>
                    </div>
                    <% end %>
                  </div>
                  <div class="tab-pane" id="duo">
                    <% @user.packs.duo.each_with_index do |pack, index| %>
                    <% card_index = index == 0 ? '2' : '1' %>
                    <div class="profile-card card<%= card_index %>">
                      <div class="left">
                        <h3 class="fontlight">PACK <br><%= pack.name %></h3>
                        <p class="fontlight"><%= pack.nb_of_courses %> séances</p>
                      </div>
                      <div class="right">
                        <h3 class="fontlight">
                          <%= number_to_currency(pack.unit_price) %>
                          <br>La séance
                        </h3>
                        <a href="#" class="rightarrow"></a>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Content Area-->
<% elsif params[:section] == 'programs' %>
<div class="content-area bg-light-blue page13 full-vh">
  <div class="bg-top"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-inner">
          <% @user.programs.published.each do |program| %>
            <div class="profile-card card1" style='background-image: url("<%= program.cover_url %>")'>
              <div class="left">
                <h3 class="fontlight"><%= program.name %></h3>
                <p class="fontlight iblue"><%= program.duration %> séances</p>
                <p class="fontlight white"><%= program.frequency %> séances/semaine </p>
              </div>
              <div class="right">
                <h3 class="fontlight"><%= number_to_currency(program.price) %></h3>
                <a href="<%= program_path(program) %>" class="rightarrow white"></a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% elsif params[:section] == 'ratings' %>
<div class="content-area bg-light-blue page13">
  <div class="bg-top"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-inner page14">
          <% @user.ratings.published.each do |rating| %>
            <div class="about-box">
              <div class="about-img">
                <%= image_tag rating.client.avatar_url, alt: "about"%>
              </div>
              <div class="about-content">
                <h3 class="about-title">
                  <%= rating.client.nickname %>
                  <span>⭐️<%= rating.score %></span>
                </h3>
                <p><%= rating.comment %></p>
              </div>
            </div>
          <% end %>


        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
