= render 'layouts/header'
.coaching-area.g-blue-bg
  .container
    .row
      .col-12
        - if @courses.blank?
          - if current_client.user.present?
            = link_to current_client.user do
              %h3 Réserver un coaching >
          - else
            = link_to users_path do
              %h3 Réserver un coaching >
        - else
          %h3 Ton prochain coaching
          - next_course = @courses.first
          .coaching-box
            .co-img
              = image_tag next_course.user.avatar_url, alt:""
            .single-box
              %h4
                = I18n.l(next_course.start_time, format: :long)
                %span
                  = next_course.user.first_name
              %p.fontlight
                = link_to order_availabilities_path(user_id: next_course.user_id, id: next_course.order), class: 'iblue' do
                  = next_course.course_infos
            .single-icon
              =link_to "sms:#{next_course.user.phone}" do
                = image_tag "boxbtm.png", alt:""
/ Content Area
.content-area.no-margin.no-padding{style: 'background-color: #101D26;'}
  .container
    .row
      .col-8.offset-2
        .profile-links.mt-30.nav
          %a.active{"data-toggle" => "tab", :href => "#coachings"} coachings
          %a{"data-toggle" => "tab", :href => "#programmes"} programmes
        %br
  .panel-body.drak-grey-bg
    .tab-content
      #coachings.tab-pane.active.coaching-area
        .container
          .row
            .col-12
              - if @courses.present?
                - @courses.each do |course|
                  .coaching-box
                    .co-img
                      = image_tag course.user.avatar_url, alt:""
                    .single-box
                      %h4
                        #{I18n.l(course.start_time, format: :long)}
                        %span
                          = course.user.first_name
                      %p.fontlight
                        = link_to order_availabilities_path(user_id: course.user_id, id: course.order), class: 'iblue' do
                          = course.course_infos
                    .single-icon
                      =link_to "sms:#{course.user.phone}" do
                        = image_tag "boxbtm.png", alt:""
                  %br
                  %br
              - else
                Vous n'avez pas encore acheté de coachings.
      #programmes.tab-pane.coaching-area
        .container
          .row
            .col-12
              - if @programs.present?
                - @programs.each do |program|
                  .profile-card.card1{:style => "background-image: url(#{program.cover_url})"}
                    .left
                      %h3.iblue= program.name
                      %p.fontlight.iblue
                        = program.duration
                        séances
                      %p.fontlight.white
                        = program.frequency
                        séances/semaine
                    .right
                      %h3.fontlight= number_to_currency(program.price)
                      %a.rightarrow.white{:href => "#{interface_program_path(program)}"}
                  %br
              - else
                Vous n'avez pas encore acheté de programmes.
