= render 'layouts/header_client'
.coaching-area.g-blue-bg
  .container
    .row
      .col-12
        - if @courses.blank?
          - if current_client.user.present?
            = link_to current_client.user do
              %h3 Réserver un coaching
          - else
            = link_to users_path do
              %h3 Réserver un coaching
        - else
          %h3 Ton prochain coaching
          - coming_coaching = @courses.first
          .coaching-box
            .co-img
              = image_tag coming_coaching.user.avatar_url, alt:""
            .single-box
              %h4
                = I18n.l(coming_coaching.start_time, format: :long)
                %span
                  = coming_coaching.user.first_name
              %p.fontlight 1/10 pack transformation
            .single-icon
              = image_tag "boxbtm.png", alt:""
/ Content Area
.content-area.no-margin.no-padding{style: 'background-color: #101D26;'}
  .container
    .row
      .col-8.offset-2
        .profile-links.mt-30.nav
          %a.active{"data-toggle" => "tab", :href => "#coachings"} coachings
          %a{"data-toggle" => "tab", :href => "#programmes"} programmes
        %br
  .panel-body.drak-grey-bg
    .tab-content
      #coachings.tab-pane.active.coaching-area
        .container
          .row
            .col-12
              - if @courses.present?
                - @courses.each do |course|
                  .coaching-box
                    .co-img
                      = image_tag course.user.avatar_url, alt:""
                    .single-box
                      %h4
                        #{I18n.l(course.start_time, format: :long)}
                        %span
                          = course.user.first_name
                      %p.fontlight 1/10 pack transformation
                    .single-icon
                      = image_tag "boxbtm.png", alt:""
                  %br
                  %br
      #programmes.tab-pane.coaching-area
        .container
          .row
            .col-12
              - if @programs.present?
                - @programs.each do |program|
                  .profile-card.card1{:style => "background-image: url(#{program.cover_url})"}
                    .left
                      %h3.fontlight= program.name
                      %p.fontlight.iblue
                        = program.duration
                        séances
                      %p.fontlight.white
                        = program.frequency
                        séances/semaine
                    .right
                      %h3.fontlight= number_to_currency(program.price)
                      %a.rightarrow.white{:href => "#{edit_dashboard_program_path(program)}"}
                  %br
              - else
                Vous n'avez pas encore acheté de programmes
