<%= render 'layouts/header' %>
<!--Content Area-->
<div class="content-area bg-light-blue">
  <div class="bg-top"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="packs" class="content-inner">
          <div class="panel panel-default">
            <ul class="nav nav-tabs circle-tab profile mb-30">
              <li>
                <a href="#solo" data-toggle="tab" class="active">solo</a>
              </li>
              <li>
                <a href="#duo" data-toggle="tab">duo</a>
              </li>
            </ul>
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane active" id="solo">
                  <% current_user.packs.solo.each_with_index do |pack, index| %>
                  <% card_index = index == 0 ? '1' : '2' %>
                  <div class="profile-card card<%= card_index %>">
                    <div class="left">
                      <h3 class="fontlight">PACK <br><%= pack.name %></h3>
                      <p class="fontlight"><%= pack.nb_of_courses %> séances</p>
                    </div>
                    <div class="right">
                      <h3 class="fontlight">
                        <%= number_to_currency(pack.unit_price) %>
                        <br>La séance
                      </h3>
                      <a href="#" class="rightarrow"></a>
                    </div>
                  </div>
                  <% end %>
                </div>
                <div class="tab-pane" id="duo">
                  <% current_user.packs.duo.each_with_index do |pack, index| %>
                  <% card_index = index == 0 ? '2' : '1' %>
                  <div class="profile-card card<%= card_index %>">
                    <div class="left">
                      <h3 class="fontlight">PACK <br><%= pack.name %></h3>
                      <p class="fontlight"><%= pack.nb_of_courses %> séances</p>
                    </div>
                    <div class="right">
                      <h3 class="fontlight">
                        <%= number_to_currency(pack.unit_price) %>
                        <br>La séance
                      </h3>
                      <a href="#" class="rightarrow"></a>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-element">
  <p class="fontlight">Créer un nouveau pack</p>
  <a href="<%= new_dashboard_pack_path %>" class="circle-btn">+</a>
</div>
<!--Content Area-->
