<%= render 'layouts/header' %>
<!--Content Area-->
    <div class="content-area bg-dark-blue full-vh">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content-inner">

                        <div class="bet-text flexbox">
                            <a href="#" class="active">Pectoraux</a>
                            <a href="#">Exercice 1</a>
                        </div>
                        <%= simple_form_for @program_step, url: dashboard_step_path do |f| %>
                        <div class="input-box grey-bg white">

                              <div class="form-group">
                                  <%= f.input :round, placeholder: '5', required: true, label: 'Séries' %>
                              </div>
                              <div class="form-group">
                                  <%= f.input :repetition, placeholder: '10', required: true, label: 'Reps' %>
                              </div>
                              <div class="form-group">
                                  <%= f.input :charge, placeholder: '10', required: true, label: 'Charge' %>
                                  <span class="input-absolute">Kg</span>
                              </div>
                              <div class="form-group">
                                  <%= f.input :cadence, placeholder: '0-0-0-0', required: true, label: 'Cadence' %>
                              </div>
                          </div>
                          <br>
                          <button type="submit" ref="#" class="margin-auto validate site-btn fontbold blue-bg">Valider <%= image_tag "tik.png", alt:"" %></button>
                          <% end %>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Content Area-->
