= render 'layouts/header'
/ Content Area
.content-area.bg-dark-blue.full-vh
  .container
    .row
      .col-12
        .content-inner
          .bet-text.flexbox
            %a.active{:href => "#"}= @program_step.exercise.name
            -# %a{:href => "#"} Exercice #{@program_step.exercise_count + 1}
          = simple_form_for @program_step, url: dashboard_step_path do |f|
            .input-box.grey-bg.white
              .form-group
                = f.input :round, placeholder: '5', required: true, label: 'Séries'
              .form-group
                = f.input :repetition, placeholder: '10', required: true, label: 'Reps'
              .form-group
                = f.input :charge, placeholder: '10', required: true, label: 'Charge'
                %span.input-absolute Kg
              .form-group
                = f.input :cadence, placeholder: '2-4-6-8', required: true, label: 'Cadence'
              .form-group
                = f.input :video_url, placeholder: 'Lien de la vidéo youtube de l\'exercice', label: 'Lien Youtube', hint: @program_step.exercise.present? ? 'Afin d\'aider ton client à éxécuter le mouvement, la vidéo Evolucoach apparaîtra par défaut.' : 'Afin d\'aider ton client à éxécuter le mouvement'
            %br/
            %button.margin-auto.validate.site-btn.fontbold.blue-bg{:ref => "#", :type => "submit"}
              Valider #{image_tag "tik.png", alt:""}
/ Content Area
