<!--Popup-->
     <div class="popup-area bg-dark-blue full-vh white">
         <div class="container">
             <div class="row">
                 <div class="col-12">
                     <div class="d-flex justify-content-between align-items-center pop-header">
                         <a href="#">
                             <span class="left-angle d-none"></span>
                         </a>
                         <h1 class="font-light">FILTRER</h1>

                         <a id="close-popup" href="#">
                             <%= image_tag "cross.png", alt:"" %>
                         </a>
                     </div>


                     <div class="statut mb-60">
                         <p class="pop-title">Statut</p>
                         <div class="profile-radio popup">
                             <form action="#">
                                 <p>
                                     <input type="radio" id="client" name="radio-group">
                                     <label for="client">client</label>
                                 </p>
                                 <p>
                                     <input type="radio" id="prospect" name="radio-group" checked>
                                     <label for="prospect">prospect</label>
                                 </p>
                             </form>
                         </div>
                     </div>


                     <div class="sexe mb-60">
                         <p class="pop-title">Sexe</p>
                         <div class="profile-radio popup">
                             <form action="#">
                                 <p>

                                     <input type="radio" id="male" name="radio-group" checked>
                                     <label for="male"> <%= image_tag "male.png", alt:"" %></label>
                                 </p>
                                 <p>

                                     <input type="radio" id="female" name="radio-group">
                                     <label for="female"><%= image_tag "female.png", alt:"" %></label>
                                 </p>
                             </form>
                         </div>
                     </div>
                     <div class="age mb-10 mt-20">

                         <div class="age-title">
                             <p class="pop-title">
                                 Age
                             </p>
                             <p>
                                 <span id="min-price" class="slider-price">0</span> <span class="seperator">-</span> <span id="max-price" data-max="90" class="slider-price">90 ans</span>
                             </p>

                         </div>
                         <div class="selector">
                             <div class="price-slider">
                                 <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                     <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                     <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                 </div>

                             </div>
                         </div>


                         <div class="age-label">
                             <span>0</span>
                             <span>90</span>
                         </div>

                     </div>

                     <div class="ville mb-60">
                         <p class="pop-title">Ville</p>
                         <div class="header-seacrh">
                             <div class="form-group">
                                 <input type="seacrh" class="form-control" placeholder="Sélectionner une ville">
                                 <%= image_tag "search.png", alt:"Seaech", class:"search-icon" %>
                             </div>

                         </div>
                     </div>

                     <a href="#" class="popup-btn g-blue-bg">
                         OK
                     </a>

                 </div>
             </div>
         </div>
     </div>
     <!--Popup-->

     <!--Header-->
     <header class="header-area border-btm page25 page34 py-4">
         <div class="container">
             <div class="row">
                 <div class="col-12">
                     <div class="d-flex justify-content-between align-items-center">
                         <a href="#">
                             <span class="left-angle"></span>
                         </a>
                         <h1>Mes athlètes</h1>

                         <a id="menubar" href="#">
                             <span class="bar"></span>
                             <span class="bar"></span>
                             <span class="bar"></span>
                         </a>
                     </div>

                     <div class="panel-heading mt-30">
                         <div class="panel-title">
                             <ul class="nav nav-tabs border-tab">
                                 <li class="">
                                     <a href="#tous" data-toggle="tab" class="active">tous</a>
                                 </li>
                                 <li>
                                     <a href="#groupes" data-toggle="tab">groupes</a>
                                 </li>
                             </ul>
                         </div>
                     </div>

                     <div class="header-seacrh">
                         <a href="#" id="site-popup">
                             <div class="form-group">
                                 <input type="seacrh" class="form-control" placeholder="Rechercher un athlète">
                                 <%= image_tag "search.png", alt:"Seaech", class:"search-icon" %>
                                 <%= image_tag "trading.png", alt:"Seaech", class:"trading-icon" %>
                             </div>
                         </a>
                     </div>

                     <div class="filter-text flexbox">
                         <a href="#">Hommes-Femmes</a>
                         <a href="#">30-40 ans</a>
                         <a href="#">Paris</a>
                         <a href="#">Prospect</a>
                         <a href="#"><%= image_tag "cross.png", alt:"" %></a>
                     </div>

                 </div>
             </div>
         </div>

         <div class="menu-area profile">
             <ul class="menu">
                 <li><a href="#">Analyses trafic</a></li>
                 <li><a href="#">Statistiques</a></li>
                 <li><a href="#">Programmes</a></li>
                 <li><a href="#">Mes athlètes</a></li>
                 <li><a href="#">Newsletter</a></li>
                 <li><a href="#">Paramètres</a></li>
             </ul>
         </div>

     </header>
     <!--Header-->


<!--Content Area-->
<div class="content-area bg-light-blue full-vh page34 page15 page38">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-inner page24">

          <% @clients.each do |client| %>
          <div class="member-box checkbox-item">
            <div class="member-left">

              <div class="member-check">

                <form action="#">
                  <p>
                    <input type="checkbox" id="user<%= client.id %>" name="radio-group">
                    <label class="checkbox-radio-style" for="user<%= client.id %>"></label>
                  </p>
                </form>
              </div>
              <div class="member-img">
                <%= image_tag client.infos.avatar_url , alt:"" %>
              </div>
              <div class="member-info">
                <h3><%= client.infos.first_name %> <%= client.infos.last_name %></h3>
                <p><%= client.infos.email %></p>
              </div>
            </div>
            <div class="member-right">
              <a href="<%= dashboard_user_has_client_path(client) %>">
                <% if client.is_client %>
                client
                <% else %>
                prospect
                <% end %>
                <span class="left-angle right"></span>
              </a>
            </div>
          </div>
          <% end %>
          <div class="add-item fixed">
            <a href="#" class="circle-btn grey-tik">
              <%= image_tag "grey-tik.png", alt:"" %>
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
<!--Content Area-->
