-# = render 'layouts/header'
/ Header
%header.header-area.border-btm.page15
  .container
    .row
      .col-12
        .d-flex.justify-content-between.align-items-center
          = link_to @user do
            %span.left-angle
          %a.profile-box{:href => "#"}
            .profile-iline
              = image_tag @user.avatar_url
              %h2.name
                #{@user.first_name} #{@user.last_name}
                = image_tag ("bgtik.png")
          %a#menubar{:href => "#"}
            %span.bar.d-none
            %span.bar.d-none
            %span.bar.d-none
        .profile-radio
          %form{:action => "#"}
            %p
              %input#libre{:checked => "checked", :name => "radio-group", :type => "radio", disabled: true}/
              %label{:for => "libre"} libre
            %p
              %input{:id => "réservé", :name => "radio-group", :type => "radio", disabled: true}/
              %label{:for => "réservé"} réservé
  .menu-area.profile
    = render 'layouts/navigation'

/ Content Area
.content-area.bg-dark-blue.page13.page15
  .container
    .row
      .col-12
        .content-inner
          .calendar-content

            / Content Area
            .month-name.fontlight
              = link_to url_for(date: @date.beginning_of_week - 1.week) do
                %span.left-angle
              %p= I18n.l(@date, format: "%B").upcase
              = link_to url_for(date: @date.beginning_of_week + 1.week) do
                %span.left-angle.right
            %table.day-list
              %thead
                %tr
                  %th.day-headline
                  - (0..6).each do |i|
                    - date = @date + i.day
                    %th.text-center
                      %span.day= date.strftime("%d")
                      %br
                      %span.short= I18n.l(date, format: '%A')[0..2]

              %tbody
                - (6..22).each do |h|
                  %tr.hour-list
                    %td.hour{:rowspan => "1"}
                      %span #{h}h
                    - (0..6).each do |d|
                      %td{'data-date': "#{date = @date.change({ hour: h }) + d.day}"}
                        .hour-check
                          %p
                            - @availability = @user.availabilities.find_or_initialize_by(start_time: date)
                            = simple_form_for([:dashboard, @availability], namespace: "#{d.day}_#{h}", html: { "data-autosave": "true", "data-object-id": "null", "data-update-url": "/dashboard/availabilities/" }) do |f|
                              = f.input :available, id: "checkbox#{d}#{h}", disabled: true
                              = f.input_field :start_time, as: :hidden, value: date


                  - 0.times do
                    %tr
                      - (0..6).each do |d|
                        %td{'data-date': "#{date = @date.change({ hour: h }) + d.day}"}
  %br
  %br
  %br
  = link_to user_path(@user, section: 'packs'), class: 'btn btn-primary fixed-btn' do
    Réserver un coaching >
