!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}

    %title Evolucoach
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if true
      = javascript_include_tag "https://js.stripe.com/v3/"
      :javascript
        stripe = Stripe('#{Rails.configuration.stripe[:publishable_key]}');
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/places.js@1.19.0"

  %body{"data-prod-env": (Rails.env.production?).to_s, "data-namespace": content_for(:namespace) || namespace, "data-action": content_for(:action_name) || action_name, "data-controller": content_for(:controller_name) || controller_name}
    - if notice || alert || params[:success].present? || params[:error].present?
      .aboslute-text.blue-bg#flash-message
        - if params[:pause].present?
          = image_tag 'pause.png', class: 'no-border'
        - else
          - unless alert.present? || params[:error].present?
            %i.fa.fa-check.white &nbsp;
        %p= notice || alert || params[:success] || params[:error].present?
    = yield
