.bg-dark-blue.full-height
  .container
    .row
      .col-12.col-md-6.offset-md-3.col-lg-6.offset-lg-3
        = render 'layouts/header'
        %h3 Mot de passe oublié ?
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = f.error_notification
          .form-inputs
            = f.input :email,                       |
              required: true,                       |
              autofocus: true,                      |
              input_html: { autocomplete: "email" } |
          .form-actions
            %br
            = f.button :submit, "Recevoir les instructions par email", class: 'custom-btn blue-bg'
        = render "users/shared/links"
